# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Données
data/raw/*.csv
data/reference/*.csv
data/production/*.csv

# Modèles
models/*.pkl
models/*.joblib

# Rapports
reports/*.html
reports/*.pdf

# Docker
.docker/
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/